body {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #2e2e2e;
    border-bottom: red;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse.navbar-collapse {
    background-color: #2e2e2e;
}

.navbar-header {
    background-color: #2e2e2e;
    border: none;
}

.header {
    margin-top: -3em;
    padding: 3em;
    background-color: #2e2e2e;
    z-index: -1;
}

img {
    border-radius: 50%;
    height: 6em;
    width: 6em;
    z-index: 1;
    margin-top: -3em;
}

h2 {
    color: #c74848;
    text-align: center;
}

h3 {
    text-align: center;
}

.social-icons {
    font-size: 2em;
    text-align: center;
}

.social {
    text-align: center;
}

.profile-info {
    text-align: center;
}

li {
    display: inline;
    text-decoration: none;
}