body {
    background-color: darkgray
}

.header {
    padding: 3em;
    background-color: #2e2e2e;
}

.avatar {
    border-radius: 50%;
    border: 2px solid black;
    height: 4em;
    width: 4em;
    margin: 0 auto;
    margin-top: -2em;
    background-color: deepskyblue;
}

h2 {
    color: crimson;
    text-align: center;
}

h3 {
    text-align: center;
}

.social-icons {
    list-style: none;
    font-size: 1em;
    text-align: center;
}

.social-icons li {
    display: inline;
    text-decoration: none;
}