@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
$bright-red: #E3203A;
$dark-grey:#41505B;
$light-grey:#B7BDC1;
$lighter-grey:#E2E5E5;
html,
body,
div {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.header {
    background-color: #ffffff;
    margin-top: -3em;
    padding: 3em;
    text-align: center;
    border-bottom: 3px solid $dark-grey;
    h1 {
        color: $dark-grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }
    h2 {
        color: $light-grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        margin-top: -.5ex;
        font-size: 1.5em;
    }
    nav {
        margin-top: 3em;
        font-family: 'Source Sans Pro', sans-serif;
        ul {
            li {
                display: inline;
                a {
                    text-decoration: none;
                    color: $bright-red;
                    padding: 1em;
                    font-size: 1em;
                }
                a:hover {
                    border-bottom: 1px solid red;
                }
                a:active {
                    border-bottom: 1px solid red;
                }
            }
        }
    }
    img {
        height: 7em;
        width: 7em;
        border-radius: 50%;
        margin-bottom: -8em;
        z-index: 1;
        border: solid 4px $bright-red;
    }
}

.about {
    background-color: #ffffff;
    padding-bottom: 5em;
    .arrow {
        color: $bright-red;
        text-align: center;
        font-size: 4em;
    }
    .social-icons {
        margin-top: 5em;
        text-align: center;
        li {
            text-decoration: none;
            display: inline;
            font-size: 2em;
            padding: .5em;
            a {
                color: $dark-grey;
            }
            a:hover {
                color: $bright-red;
            }
        }
    }
    h3 {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        color: $bright-red;
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: $dark-grey;
        text-align: center;
        margin: 5%;
        a {
            text-decoration: none;
        }
        .twitter {
            color: #55ACEE;
        }
        .linkedin {
            color: #0077B5;
        }
        .instagram {
            color: #bc4e0c;
        }
    }
}

#work {
    margin-top: 2em;
    padding-bottom: 10em;
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        color: $dark-grey;
        text-align: center;
    }
    .portfolio-item {
        margin-top: 2em;
        .bq {
            float: right;
            margin-right: 2em;
        }
        h3 {
            a {
                text-decoration: none;
                color: $dark-grey;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
        h4 {
            color: $light-grey;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1em;
        }
        p {
            margin-top: 3em;
            color: $dark-grey;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 2.5ex;
            a {
                text-decoration: none;
                color: $light-grey;
                &:hover {
                    color: $bright-red;
                }
                span {
                    color: $dark-grey;
                }
                i {
                    color: $bright-red;
                    margin-left: .5em;
                }
            }
        }
    }
}

#skills {
    background-color: $dark-grey;
    text-align: center;
    padding: 3em;
    padding-top: 5em;
    padding-bottom: 10em;
    h2 {
        color: $light-grey;
        padding: 1em;
        margin-top: -1em;
    }
    i {
        font-size: 4em;
        color: $bright-red;
    }
    h3 {
        color: $lighter-grey;
    }
    p {
        color: $lighter-grey;
    }
}

.navbar-default {
    background-color: #ffffff;
}

footer {
    width: 100%;
    padding: 2em;
    background-color: $lighter-grey;
    text-align: center;
    p {
        color: $bright-red;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
        span {
            float: left;
        }
        a {
            color: $dark-grey;
        }
        a:hover {
            color: $light-grey;
            text-decoration: none;
        }
    }
}

// injector
// endinjector