@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
$bright-red: #E3203A;
$dark-grey:#41505B;
$light-grey:#B7BDC1;
$lighter-grey:#E2E5E5;


$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
 
html,
body,
div {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

//-----HEADER----------
header {
    background-color: #ffffff;
    margin-top: -3em;
    padding: 3em;
    border-bottom: 3px solid $dark-grey;
    text-align: center;
    h1 {
        color: $dark-grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        text-align: center;
        @include desktop{
            font-size: 5em;
        }
    }
    h2 {
        color: $light-grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        margin-top: -.5ex;
        font-size: 1.5em;
        @include desktop{
            font-size:3em;
        }
    }
   
    ul {
        padding: 0;
        margin-top: 3em;
        font-family: 'Source Sans Pro', sans-serif;
        li {
            display: inline;
             @include desktop{
                font-size:1.5em;
        }
            a {
                color: $bright-red;
                padding: 1em;
                font-size: 1em;
            }
            a:hover {
                border-bottom: 1px solid red;
                text-decoration: none;
                color: $bright-red;
            }
            a:active {
                border-bottom: 1px solid red;
                text-decoration: none;
            }
            a:visited {
                text-decoration: none;
            }
        }
    }
    img {
        height: 7em;
        width: 7em;
        border-radius: 50%;
        margin-bottom: -8em;
        z-index: 1;
        border: solid 4px $light-grey;
        @include desktop{
            height: 10em;
            width:10em;
            margin-top: 2em;
        }
    }
}

//--------ABOUT---------------
.about {
    background-color: #ffffff;
    padding-bottom: 5em;
    .arrow {
        color: $bright-red;
        text-align: center;
        font-size: 4em;
    }
    .social-icons {
        margin-top: 5em;
        text-align: center;
        li {
            text-decoration: none;
            display: inline;
            font-size: 2em;
            padding: .5em;
            @include desktop{
                font-size: 3em;
                margin-bottom: 2em;
            }
        }
    }
    
    ul.social-icons > li > a {
        .twitter {
            padding: 5px;
            color: $dark-grey;
            &:hover:before {
                color: #55ACEE;
                content: '\f243';
            }
        }
        .github {
            color: $dark-grey;
            &:hover:before {
                color: #4183c4;
                content: '\f233';
            }
        }
        .linkedin {
            color: $dark-grey;
            &:hover:before {
                color: #0976b4;
                content: '\f239';
            }
        }
        .email {
            color: $dark-grey;
            &:hover:before {
                color: $dark-grey;
                content: '\f423';
            }    
        }
        .download{
            color:$dark-grey;
            &:hover:before{
                color: $dark-grey;
                content: '\f408';
            }
        }
    }
    h3 {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        color: $bright-red;
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        color: $dark-grey;
        text-align: center;
        margin: 5%;
        a {
            text-decoration: none;
        }
        .twitter {
            color: #55ACEE;
        }
        .linkedin {
            color: #0077B5;
        }
        .instagram {
            color: #bc4e0c;
        }
    }
}

//--------WORK------------
#work {
    margin-top: 2em;
    padding-bottom: 10em;
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        color: $dark-grey;
        text-align: center;
        font-size:4em;
    }
    .portfolio-item {
        margin-top: 2em;
        .bq {
            float: right;
            margin-right: 2em;
        }
        .portfolio-description {
            a {
                color: $bright-red;
                border-color: $light-grey;
                &:hover {
                    border-color: $bright-red;
                    background-color: #ffffff;
                }
            }
        }
    }
    h3 {
        color: $dark-grey;
        font-family: 'Source Sans Pro', sans-serif;
    }
    h4 {
        color: $light-grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
        margin-bottom: 1em;
    }
    p {
        color: $dark-grey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 2.5ex;
        margin-bottom: 1em;
        a {
            text-decoration: none;
            color: $light-grey;
            &:hover {
                color: $bright-red;
            }
            span {
                color: $dark-grey;
            }
            i {
                color: $bright-red;
                margin-left: .5em;
            }
        }
    }
}
//------SKILLS----------
#skills {
    background-color: $dark-grey;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 10em;
    font-family: 'Source Sans Pro', sans-serif;

    h2 {
        color: $light-grey;
        padding: 1em;
        margin-top: -1em;
        font-size:4em;
    }
    i {
        font-size: 4em;
        color: $bright-red;
    }
    h3 {
        color: $light-grey;
        font-size:2em;
    }
    p {
        color: $lighter-grey;
        padding: 1em;
        font-size: 1.3em;
    }
}

@include tablet {
    #skills {
      padding: 4em;
    }
}

.navbar-default {
    background-color: #ffffff;
}

//-----------FOOTER----------
footer {
    width: 100%;
    padding: 2em;
    background-color: $lighter-grey;
    text-align: center;
    p {
        color: $bright-red;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
        span {
            float: left;
        }
        a {
            color: $dark-grey;
        }
        a:hover {
            color: $light-grey;
            text-decoration: none;
        }
    }
}

// injector
// endinjector